* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.App {
  display: flex;
  flex-wrap: wrap;
  height: 75vh;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
